* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 50px;
  height: 50px; /* quadrado */
  object-fit: cover;
}

nav a {
  color: #38bdf8;
  margin: 0 1rem;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 4rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: #020617;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

img,
video {
  width: 100%;
  border-radius: 12px;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
}

input,
textarea,
button {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
}

button {
  background: #38bdf8;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 2rem;
}